body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebf2fa;
    color: #011936;
    text-align: center;
}

h1, h2, h3 {
    color: #011936;
    margin: 1;
    font-weight: bold;
}

header {
    background-color: #73a942;
    max-width: 1000px;
    margin: auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1;
}

header img {
    width: 200px;
    margin-bottom: 0;
}
header h1 {
    font-size: 80px;
    margin: 10px 0;
}
nav {
    margin-top: 10px;
}

nav ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul.menu li a {
    text-decoration: none;
    color: white;
    background-color: #011936;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

nav ul.menu li a:hover {
    background-color: #a44a3f;
}
main {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 10px 10px;
}
main h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

main p {
    font-size: 20px;
    margin: 15px 0;
}

.sobre,
.pagamento,
.localizacao {
    margin: 20px 0;
}

.sobre p,
.pagamento ul {
    margin: 15px 0;
}

.pagamento ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.produto {
    display: block;
    width: 50%;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}
.produto:hover {
    background-color: #55ae5e;
}
.texto-link {
    color: #73a942;
    text-decoration: none;
}

.texto-link:hover {
    color: #a44a3f;
}

footer {
    background-color: #011936;
    color: #ffffff;
    padding: 20px;
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

footer p {
    font-size: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #a44a3f;
}

